@model WebStore.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.FirstName @Model.LastName</title>
</head>
<body>
    <table>
        <tr>
            <td>Id:</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Имя:</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Фамилия:</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td>Отчество:</td>
            <td>@Model.MiddleName</td>
        </tr>
        <tr>
            <td>Возраст:</td>
            <td>@Model.Age</td>
        </tr>
    </table>
    <p>
        <a href="/home/employees">Назад</a>
    </p>
</body>
</html>
